<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MaxPixelDiff" value="20" />
		<add key="SplashSize" value="24" />
		<add key="MaxCacheEntries" value="40" />
		<add key="MaxPossibleResultsFromApi" value="2" />
		<add key="ComparisonPrecision" value="0.98" />
	</appSettings>
</configuration>